.register{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(35, 34, 34, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register__card{
    max-width: 480px;
    width: 100%;
    max-height: 380px;
    height: 100%;
    background-color: #fff;
    padding: 28px 40px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.reg__title{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #2364a2;
}
.regclose__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #ececec;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    font-size: 20px;
    top: 15px;
    right: 15px;
}
.regclose__wrapper:hover .regclose__wrapper__icon{
    color: red;
}
.regclose__wrapper__icon{
    font-size: 30px;
}
.reg__form{
    width: 100%;
}
.reg__password__wrapper{
    width: 100%;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.password__eye__wrapper{
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* transform: translateY(25%); */

}
.password__eye__open{
    font-size: 20px;
    color: #555;
}
.password__eye__open:hover{
    color: #333;
}
.password__eye__close{
    font-size: 20px;
    color: #555;
    display: none;
}
.password__eye__close:hover{
    color: #333;
}
.reg__password,
.reg__email{
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    /* margin-right: 5px; */
    margin-bottom: 20px;
    padding-right: 40px;
    transition: all .5s;
}
.reg__email:focus{
    border: 2px solid #2364a2;
    transition: all .3s;
    
}
.reg__password:focus{
    border: 2px solid #2364a2;
    transition: all .3s;

}
.reg__btn{
    width: 100%;
    height: 44px;
    color: #fff;
    background-color: #2364a2;
    border-color: #ccc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-top: 20px;
}
@media only screen and (max-width:584px){
    .register__card{
        max-width: 380px;
        max-height: 310px;
    }
}